<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Settings</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/script.js"></script>
</head>
<body>
    <div class="top text-center p-4 bg-light border-bottom">
        <h1 class="text-dark" th:text="${message}"></h1>
        <ul class="navbar d-flex justify-content-center list-unstyled gap-3">
            <li class="nav-item text-primary" onclick="navigateToPage('home')">Home</li>
            <li class="nav-item text-primary" onclick="navigateToPage('about')">About</li>
            <li class="nav-item text-primary" onclick="navigateToPage('settings')">Settings</li>
        </ul>
    </div>
    <p>This is the Settings page of our website.</p>

    <script src="/js/script.js"></script>
</body>
</html>
